<footer class="pg-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<ul class="footer-nav">
					<li>&copy; {{ 'now' | date: "%Y" }} - Abbas Arezoo</li>
					<li><a href="http://github.com/abbasarezoo" target="_blank">Github</a></li>
					<li><a href="http://codepen.com/abbasarezoo" target="_blank">Codepen</a></li>
					<li><a href="https://twitter.com/designsheffield" target="_blank">@DesignSheffield</a></li>
					<li><a href="{{ site.baseurl }}/terms">Terms and conditions</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script src="//localhost:35729/livereload.js"></script>
