// =================================================
// FOOTER
// =================================================

.pg-footer {
    padding: $gutter 0;

    background-color: $dark-grey;
}

.footer-nav {
    list-style-type: none;
    text-align: center;

        li {
            display: inline-block;
            margin: 0 2rem;

            color: $light-grey;

            @include font-size($ft-7);
        }

        a {
            color: inherit;
            text-decoration: none;

                @include hover-state {
                    color: $white;
                }

        }

}