// =================================================
// HEADER
// =================================================

.pg-header--outer {
    background-color: $light-grey;
}

.pg-header {
    padding: $gutter/2 0;

}

.logo {
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;

        i, svg {
            width: inherit;
            height: inherit;
        }

        svg {
            fill: $white;
            transition: all 0.25s;
        }

        @include mq(sm) {
            float: right;
        }

        @include hover-state {
            
            svg {
                fill: $orange;
            }

        }

}

.main-nav {
    margin: 0 0 $gutter/2;

        @include mq(sm) {
            margin: 0;
        }

}

.main-nav--list {
    list-style-type: none;
    text-align: center;

        @include mq(sm) {
            text-align: left;
        }

        li {
            display: inline-block;
            margin: 0 $gutter/2;

            @include font-size($ft-7);

                @include mq(sm) {
                    margin: 0 $gutter/2 0 0;
                }

                @include mq(md) {
                    margin: 0 $gutter 0 0;
                }

                @include mq(md) {
                    @include font-size($ft-6);
                }

        }

        a {
            color: $dark-grey;
            text-decoration: none;

                @include mq(sm) {
                    line-height: 5rem;
                }

                @include hover-state {
                    color: $orange;
                }

        }

}
