// =================================================
// POST HEADER
// =================================================

@keyframes arrow-pulse {
    
    20% {
        bottom: 6rem;
    }

    50% {
        bottom: 6rem;
    }

}

.post-header {
    position: relative;
    height: 100vh;

    text-align: center;

    background-color: $light-grey;

        @include mq(sm) {
            text-align: left;
        }

        span {
            position: absolute;
            left: 50%;
            bottom: 4rem;

            transform: translateX(-50%);

            color: $orange;

            animation: arrow-pulse 2s infinite;

            @include font-size($ft-4);

                @include mq(sm) {
                    left: $gutter/2;
                    transform: translateX(0);
                }

        }

        > .container,
        > .container .row,
        > .container .col-md-4 {
            height: 100%;
        }

}

.post-meta {
    margin: 0 0 $gutter;

    color: $mid-grey;

    @include font-size($ft-6);
}

.post-header--content {
    @extend %valign;

    width: 90%;

        @include mq(sm) {
            width: 75%;
        }

        @include mq(lg) {
            width: 50%;
        }

}

.post-title {
    margin: 0 0 $gutter;

    @include font-size($ft-4);

        @include mq(sm) {
            @include font-size($ft-1);
        }
        
}

.post-desc {
    line-height: $blh;
    color: $mid-grey;
    
    @include font-size($ft-6);        
}

.post {
    padding: $gutter 0;
}
