// =================================================
// STANDARD CONTENT
// =================================================

.std-content {

    h1,h2,h3,h4,h5,h6 {
        line-height: $hlh;
    }

    h1 {
        @include font-size($ft-1);
    }

    h2,h3,h4,h5,h6 {
        @include font-size($ft-5);
    }

    h3,h4,h5,h6 {
        @include font-size($ft-6);
    }

    *+h2, *+h3 {
        margin: $gutter*1.5 0 $gutter;
    }

    *+h4, *+h5, *+h6 {
        margin: $gutter 0;
    }

    p {
        margin: $gutter 0;
    }

    ul,ol {
        margin: $gutter;
        padding: 0;
    }

    li {
        margin: 0 0 0.5rem;
    }

    p,ul,ol {

        line-height: $blh;
        color: $mid-grey;

        @include font-size($ft-6)

            a {
                color: $orange;

                    @include mq(md) {
                        
                        &:hover {
                            text-decoration: underline;
                        }

                    }

            }

            code {
                display: inline-block;
                margin: 0 0.5rem;
                padding: 0.5rem;

                border-radius: $rad;
                background-color: $lightest-grey;

                color: $dark-grey;

                @include font-size($ft-7);
            }


    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: normal;
        color: $dark-grey;

            a {

                @include mq(md) {
                        
                    &:hover {
                        color: $orange;
                    }

                }

            }
    }

    p img {
        @extend %flex-img;

        padding: $gutter 0 0;
    }

    pre {
        overflow-x: scroll;

        padding: $gutter;
        margin: $gutter 0 $gutter;

        background-color: $lightest-grey;

        color: $dark-grey;

        @include font-size($ft-7);

            @include mq(sm) {
                overflow-x: auto;
            }
            
    }

    blockquote {
        margin: $gutter 0;
        padding: 0.5rem $gutter;

        background-color: $lightest-grey;

            p {
                color: $orange;
            }

    }

    a {
        text-decoration: none;
    }


}