// =================================================
// STANDARD CONTENT
// =================================================

.std-content {

    h1,h2,h3,h4,h5,h6 {
        line-height: $hlh;
    }

    h1 {
        @include font-size($ft-1);
    }
    
    h2 {
        margin: $gutter 0 0;

        @include font-size($ft-5);
    }

    h3,h4,h5,h6 {
        margin: $gutter/2 0 0;

        @include font-size($ft-6);
    }

    p {
        margin: $gutter 0;
    }

    ul,ol {
        margin: $gutter 0 $gutter $gutter;
        padding: 0;
    }

    p,ul,ol {

        line-height: $blh;
        color: $mid-grey;

        @include font-size($ft-6)

            a {
                color: $dark-grey;

                    @include mq(md) {
                        
                        &:hover {
                            color: $orange;
                        }

                    }

            }

            code {
                display: inline-block;
                padding: 0.5rem;

                border-radius: $rad;
                background-color: $light-grey;

                color: $dark-teal;

                @include font-size($ft-7);
            }


    }

    strong {
        font-weight: 700;
    }

    em {
        color: $dark-grey;
        font-style: italic;

            a {

                @include mq(md) {
                        
                    &:hover {
                        color: $orange;
                    }

                }

            }
    }

    p img {
        @extend %flex-img;

        padding: $gutter 0 0;
    }

    pre {
        overflow-x: scroll;

        margin: $gutter 0 $gutter;

        background-color: $light-grey;

        color: $dark-teal;

        @include font-size($ft-7);

            @include mq(sm) {
                overflow-x: auto;
            }
            
    }

    blockquote {
        margin: $gutter 0;
        padding: 0.5rem $gutter;

        background-color: $light-grey;

            p {
                color: $orange;
            }

    }


}