.post-header {
    position: relative;
    height: 100vh;
    padding: 4rem 1rem;

    text-align: center;

        @include mq(tablet) {
            padding: 4rem 10rem 10rem;
        }

        @include mq(desktop) {
            padding: 4rem 12.5% 10rem;
        }

        span {
            position: absolute;
            bottom: 4rem;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);

            @include font-size($ft-4);
        }

}

.post-meta {
    @include font-size($ft-6);
}

.post-header--content {
    @extend %center;

    width: 100%;

        @include mq(tablet) {
            width: 75%;
        }

        @include mq(desktop) {
            width: 50%;
        }

}

.post-title {
    margin: 0 0 5rem;

	@include font-size($ft-3);

        @include mq(tablet) {
            @include font-size($ft-1);
        }
        
}

.post-desc {
    line-height: $blh;
    
    @include font-size($ft-6);        
}