// =================================================
// CONTROLS THE OVERALL FONT SIZE OF THE DOCUMENT
// =================================================

html {
    font-size: 57.5%;
        
        @include mq(tablet) {
            font-size: 62.5%;
        }
        
}

// =================================================
// FORM RESET
// =================================================

input[type=text], input[type=email], input[type=submit], input[type=button], select, option, button, textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

// =================================================
// FONT RESET
// =================================================

body, input, select, option, button, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: $dark-grey;

    -webkit-font-smoothing: antialiased;
}

body {
    height: 100% !important;
}

code {
    font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
}

// =================================================
// SVG
// =================================================

i {
    display: block;
}

svg {
    width: 100%;
    height: 100%;
}

* {
    //outline: 1px solid red;
}
