// =================================================
// FONT IMPORTS
// =================================================

@font-face{
font-family:"NeuzeitOffSoftRoundW01-_710336";
src:url("../fonts/0825c39a-a2b8-4005-89e2-ba5796267d76.eot?#iefix");
src:url("../fonts/0825c39a-a2b8-4005-89e2-ba5796267d76.eot?#iefix") format("eot"),url("../fonts/220281a3-a459-405e-b8ee-7bba2436f077.woff2") format("woff2"),url("../fonts/c05a427e-1831-4ddf-aecd-fc20705689a4.woff") format("woff"),url("../fonts/8ae911b5-1e09-45f7-aed0-bbc110bd68d4.ttf") format("truetype"),url("../fonts/b79a608a-4c82-48ac-980b-4219e339b412.svg#b79a608a-4c82-48ac-980b-4219e339b412") format("svg");
}
@font-face{
font-family:"NeuzeitOffSoftRoundW01-_710333";
src:url("../fonts/f13ea80b-08de-47e5-a690-ff4bd41993bd.eot?#iefix");
src:url("../fonts/f13ea80b-08de-47e5-a690-ff4bd41993bd.eot?#iefix") format("eot"),url("../fonts/2d9b7bc2-9924-484d-b28d-c4c7aacdcb1d.woff2") format("woff2"),url("../fonts/6e22928e-dff6-47c1-bcf3-aa784d0d1ce6.woff") format("woff"),url("../fonts/9c4ab891-6b58-4e88-b9aa-2194730ac552.ttf") format("truetype"),url("../fonts/56c3ac70-0790-4c94-bac2-7367cd1696a1.svg#56c3ac70-0790-4c94-bac2-7367cd1696a1") format("svg");
}

