// =================================================
// HOMEPAGE STYLES
// =================================================

// Layout

.site-intro_header {
    position: relative;
    padding: 15rem 8rem 0;
    margin: 0 0 8rem;

    text-align: center;
        
        @include mq(laptop) {
            width: 50%;
            height: 100vh;
            padding: 0;
            margin: 0;
            float: left;

            text-align: left;
        }

        @include mq(desktop) {
            width: 40%;
        }

        h1 {
            @include font-size($ft-3);

                @include mq(laptop) {
                    @include font-size($ft-2);
                    @include center;

                    display: block;
                    width: 100%;
                    padding: 0 6rem;
                }

                @include mq(desktop) {
                    @include font-size($ft-1);
                }

        }

        a {
            color: inherit;

                @include hover-state {
                    color: $orange;
                }

        }

}

.post-list_outer {

    @include mq(laptop) {
        width: 50%;
        height: 100vh;
        float: right;

        overflow-y: scroll;
    }

    @include mq(desktop) {
        width: 60%;
    }

}

// Post list

.post-list {
    @extend %clearfix;

    list-style-type: none;

    display: block;
    width: 100%;
    // padding: 0 1rem;

    //     @include mq(tablet) {
    //         padding: 0 10rem;
    //     }
    

}

.post-item {
    display: block;

    text-align: center;

        @for $i from 1 through $colors-length {
            
            &:nth-of-type(#{$colors-length}n+#{$i}) {
                
                .post-link {
                    background-color: nth($colors, $i);
                }

            }

        }

}

.post-link {
    position: relative;

    display: block;
    width: 100%;
    padding: 4rem 2rem;

    text-decoration: none;

        @include mq(tablet) {
            padding: 8rem 6rem;
        }

        @include mq(desktop) {
            padding: 12rem 6rem;
        }

        @include hover-state {

            h2 {
                color: rgba($white, 0.15);
            }

            span {
                opacity: 1;

                @include font-size($ft-1);
            }

        }

}

.post-info {
    position: relative;

    width: 100%;
    margin: 0 0 2rem;

        @include mq(tablet) {
            margin: 0;
            padding: 0 2rem;

            //@include center;
        }

        h2 {
            line-height: $hlh;
            color: $white;
            
            transition: all 0.5s;

            @include font-size($ft-5);
        }

        span {
            @extend %center;

            display: block;

            opacity: 0;
            transition: all 0.5s;

            color: $white;

            @include font-size(0);
        }

}

.post-category {

    @include mq(tablet) {
        position: absolute;
        left: 0;
        bottom: 2rem;

        width: 100%;
    }

    p {
        text-align: center;
        color: $white;

        @include font-size($ft-7);
    }

}